.floatL{
  float: left;
}

.floatR{
  float: right;
}

.clearB{
  clear: both;
}

.LRPadding10{
  padding:5px 10px 5px 10px;
}

.displayBlock{
  display:block
}

.width33{
  width:33%;
}

.overflow{
  overflow: auto;
}

.fixedheight{
  height: 20%;
}

.imgprops{
  height:250px;
  width: 520px;
}

.card{
  height: 800px;
  width: 520px;
}
