.floatL{
  float: left;
}

.floatR{
  float: right;
}

.clearB{
  clear: both;
}

.towns-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://images.squarespace-cdn.com/content/v1/5bc6137be6666940992e5e76/1557889801073-93CL917AO7291T5EVJFI/ke17ZwdGBToddI8pDm48kMi38tw7zkfDmGvlHU-hVvIUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drlbiNfk3EruvL6ooucMUl0-iAqFf4IJ2-8-m4UxZV6gG6v6ULRah83RgHXAWD5lbQ/about-community.jpg?format=2500w");
  background-size: cover;
}

.LRPadding10{
  padding:5px 10px 5px 10px;
}

.displayBlock{
  display:block
}

.width33{
  width:33%;
}

.overflow{
  overflow: auto;
}

.fixedheight{
  height: 22%;
}
//these values will be changed to reflect the Kiosk's specific resolution, but for now are adapted for the development amchine.
.imgprops{
  height:250px;
  width: 520px;
}

.card{
  height: 1000px;
  width: 520px;
  padding-bottom: 20px;
}

p{
  font-size: 15px;
}

.card-body{
  height: 1000px;
  padding-bottom: 20px;
}

.card-body{
  padding-bottom: 30px;
}
