.imgHeader {
    display: block;
    font-family: Libre Baskerville;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1em;
    color:#000000;
    margin: 20px;
    margin-top: 2em;
    margin-bottom: -5px;
    -webkit-font-smoothing: antialiased;
    z-index: 100;
  }  