.imgHeader 
{
  filter: brightness(100%);
  display: block;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1em;
  color:#000000;
  margin: 20px;
  margin-top: 2em;
  margin-bottom: -5px;
  -webkit-font-smoothing: antialiased;
  z-index: 100;
}

.imgHeader-2 
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: none;
  color: #fff;
  margin: 20px;
  margin-bottom: 8em;
  -webkit-font-smoothing: antialiased;
  z-index: 100;
}

.organization-bg
{
  background-image: url("../assets/image/aboutpics/organizationOverlay.png");
  background-position: 0% 38%;
  background-size: cover;
}

.louisSullivan-bg
{
  //filter: brightness(85%);
  background-image: url("../assets/image/aboutpics/louisSullivanOverlay.jpg");
  background-position: 0% 30%;
  background-size: cover;
}

.default-bg
{
  background-image: url("../assets/image/aboutpics/defaultOverlay.jpg");
  background-position: 0% 30%;
  background-size: cover;
}

.sidebarItems
{
  /*font-family : proxima-nova;*/
  font-weight : 600;
  font-style : normal;
  font-size : 14px;
  letter-spacing : 2px;
  text-transform : uppercase;
  text-decoration : none;
  color : rgba(26, 26, 26, 0.4);
  display : block;
  padding : 0 0 .75em;
}

.sidebarHeader
{
  /*font-family : proxima-nova;*/
  font-weight : bold;
  font-style : normal;
  font-size : 19px;
  letter-spacing : 1px;
  text-transform : uppercase;
  text-decoration : none;
  color : #d53030;
  display : block;
}

.about-sidebar
{
  background-color : cyan;
  border :black;
  color : black;
  text-align : center;
  text-decoration : none;
  display : inline-block;
  /*margin:0px 10px 0px 10px;*/
}

.introText
{
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.4;
  display: block;
  margin-right: 140px;
  margin-left: 140px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  letter-spacing: 0px;
  color: rgba(26,26,26,.7)
}

.organization-section-header
{
  /*font-family: proxima-nova;*/
  vertical-align: -200px;
  font-weight: bold;
  font-style: normal;
  font-size: 19px;
  letter-spacing: .15em;
  text-transform: uppercase;
  line-height: 1.1em;
  display: inline;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #a3a3a3;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.louisSullivan-section-header
{
  margin-top: 0;
  margin: 1em 0 .5em;
  color: rgba(26,26,26,.9);
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section-text
{
  margin-bottom: 0;
  margin-top: 0;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .01em;
  text-transform: none;
  line-height: 1.8em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgba(0,0,0,.68);
  font-size: 14px !important;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul 
{
  list-style-type: none;
}
/*
.container darken-img {
  filter: brightness(90%);
}*/