.floatL{
    float: left;
}

.floatR{
    float: right;
}

.clearB{
    clear: both;
}

.LRPadding10{
    padding:5px 10px 5px 10px;
}

.displayBlock{
    display:block;
}

.width33{
    width:33%;
}

.displayFlex{
    display:flex;
}

.overflowX{
    overflow-x: auto;
}

.card{
    margin:2px;
}

.fixedDimension{
    height:200px;
    width:150px;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

.width60perc{
    width:60%;
}

.width40perc{
    width:40%;
}

.margin10{
    margin:10px;
}