.imgHeader {
  display: block;
  font-family: Libre Baskerville;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1em;
  color: #ffffff;
  margin: 20px;
  margin-top: 2em;
  margin-bottom: .3em;
}

.imgHeader-2 {
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: none;
  color: #fff;
  margin: 20px;
  margin-bottom: 8em;
}

.event-bg {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5bc6137be6666940992e5e76/1559500228057-LLABQMXYI35CLUH4Q7FG/ke17ZwdGBToddI8pDm48kIu3c6RI25Ef7RzjXQWq7X97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Ua_gHjAqlkTAptD6YipitaW0yqs0Foy9-1vLCnclZojZAVle5px3XiuuAGKTYFVv9w/front-intro-bg-15.jpg?format=2500w");
  width: 100%;
  background-position: 100% 55%;
}