#top{
    margin:0px;
    height: auto;
    
    #navLogo{
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        padding:20px;

        img{
            height: auto;
            max-height: 100px;
            width: auto;
            max-width: 100%;
        }
    }

    #headerNav{
        border-bottom:1px solid white;
        width:100%;

        .floatR{
    
            .nav{   
                margin:35px 20px 0 0;
                
                .nav-item{
                    margin:0px 10px 0px 10px;
                }
            } 
        }       
    }
}

#controlBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding:10px 10px 10px 10px;

    .nav-item .btn{
        margin:0 10px 0 10px;
    }
}

#guideBanner{
    background-image: url(
        "https://images.squarespace-cdn.com/content/v1/5bc6137be6666940992e5e76/1550442182757-1626OEM62L79BUW67ZKL/ke17ZwdGBToddI8pDm48kJ7UaM7eJzfPlBu0O7JEbK8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqFuuH7kejmVYl8JeWccs_1mEV7PvIynDF84re0miHULm4bjm9DAHF2kOsIZRJKXnA/theGreatOutdoors_001.jpg?format=2500w"
    );
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% auto;
}