
.guides-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://images.squarespace-cdn.com/content/v1/5bc6137be6666940992e5e76/1559499025037-C1W0AKL29XGVP8OIWRD2/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/directory-cover-01.jpg?format=2500w")
}


.directory-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 60px;
  .card{
    margin: 20px 10px;
  }
}
